<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8"/>
        <title>VueDocument</title>
        <script src="https://unpkg.com/vue@3"></script>
        <style>
            html, body{
                height: 100%;
            }

            body{
                display: grid;
                place-items: center;
            }

            .text-red{
                color: red;
            }

            .text-green{
                color: green;
            }
        </style>
        </style>
    </head>
    <body>
        <div id="app">
            <section v-show="toDoAssignments.length" class="mt-8">
                <h2 class="font-bold mb-2">To-Do Assignments</h2>

                <ul>
                    <li v-for="assingment in toDoAssignments" 
                        :key="assingment.id">
                       <label> 
                        {{assingment.name}}
                        
                        <input type="checkbox" v-model="assingment.complete">

                       </label>
                    
                    </li>
                </ul>

                <pre>

                    {{assingments}}
                </pre>
            </section>


            <section>
                <h2 class="font-bold mb-2">Completed Assignments</h2>

                <ul>
                    <li v-for="assingment in assingments.filter(a =>  a.complete)" 
                        :key="assingment.id">
                       <label> 
                        {{assingment.name}}
                        
                        <input type="checkbox" v-model="assingment.complete">

                       </label>
                    
                    </li>
                </ul>

                <pre>

                    {{assingments}}
                </pre>
            </section>
            
        </div>
        <script>
            let app = {
                data() {
                    return{
                        assingments: [
                            {name: 'Finish gar nixxx', complete: false, id: 1},
                            {name: 'sus', complete: false, id: 2}

                        ]
                    }
                }
            }

            computed:{
                completedAssignments()
                {
                    return this.assingments.filter(assingment => assingment.complete);
                }

                toDoAssignments()
                {
                    return this.assingments.filter(assingment => ! assingment.complete);
                }
            }
            Vue.createApp(app).mount('#app');

        </script>
    </body>
</html>