h1 {
    color: greenyellow;
    text-align: center;
    background-color: brown;
  }
/* Hier wird der Body gestylt */
body{
    background-color: beige;
    
}

p
{
    color: #696969; 
    background-color: rebeccapurple;
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}

