h1 {
    color: greenyellow;
    text-align: center;
    background-color: brown;
    padding: 5px;
    box-sizing: border-box  ;
  }
/* Hier wird der Body gestylt */
body{
    background-color: beige;
    
}

p
{
    color: #696969; 
    background-color: rebeccapurple;
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;

    outline: 1px solid green;
    outline-offset: 3px;
}

p.eins
{
    border-style: solid;
    border-radius: 5px;
    width: 80%;
    margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 80px;
  margin-left: 80px;
}

p.zwei
{
    border-style: dotted;
    border-radius: 2px;
    width: 40%;
    background-color: goldenrod;

    outline-style: dotted;
    outline-color: plum;
    outline-width: thin;
}

