h1 {
    color: greenyellow;
    text-align: center;
    background-color: brown;
    padding: 5px;
    box-sizing: border-box  ;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 3px #ff00ff;
    font-family: "Arial", Times, serif; 
    font-weight: bold;
    z-index: 1;
    
 }
/* Hier wird der Body gestylt */
body{
    background-color: beige;
    color: darkblue;
}

span {
    display: inline; 
    width: 80px;
    height: 80px;
   
    border: 1px dotted red; 
    background-color: #BEBEBE; 
  }
div {
    position: fixed;
    top: 40px;
    border: 2px dotted rebeccapurple;
    overflow: auto;
    float: left;
    }



div.clearfix::after 
    {
        content: "Test";
        clear: both;
        display: table;
      }
a:link
{
    background-color: red;
}

a:visited
{
    background-color: turquoise;
}


h2
{
    text-decoration-line: underline;
    color: black;
    text-align: center;
    background-color: gainsboro;
    padding: 2px;
    box-sizing: border-box  ;
    text-align: center;
    font-family: "Arial", Times, serif; 
    font-weight: bold;  
    z-index: 1;
}

ol {
    background: #c9bbbb;
    list-style-type: none;
    text-align: left;

  }
  
ul {
    background: #234322;
    padding: 10px;
    list-style-type: none;
    text-align: left;

  }
  
ol li {
    background: #c9bbbb;
    color: gray;
    padding: 15px;
    list-style-type: none;
    text-align: left;

  }
  
ul li {
    background: #234322;
    color: gray;
    padding: 15px;
    list-style-type: none;
    text-align: left;
  }


table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    height: auto;
    text-align: center;
    vertical-align: center;
    max-width: 400px;
    background-color: #CECECE;
    }
p
{
    color: #696969; 
    background-color: rebeccapurple;
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;

    outline: 1px solid green;
    outline-offset: 3px;

    text-align: center;
    font-size: 12px;
    font-family: "Garamond", Times, sans-serif; 
}

p.eins
{
    border-style: solid;
    border-radius: 5px;
    width: 80%;
    margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 80px;
  margin-left: 80px;

  text-align: left;

}

p.zwei
{
    border-style: dotted;
    border-radius: 2px;
    width: 40%;
    background-color: goldenrod;
    outline-style: dotted;
    outline-color: plum;
    outline-width: thin;

    text-align: left;
    font-style: italic;
}

p.eins + p.zwei {
    background-color: #AEAEAE;
  }

i.highlight:hover
{
    background-color: red;    
    opacity: 100%;
}

img:hover
{
    width: 100%;
    opacity: 50%;
}

h1::first-letter{
    font-style: italic;
    color: #ff00ff;
}

h2::first-line{
    color: #ff00ff;
}

i
{
    opacity: 80%;
}

ul.nav {
    position: fixed;
    top: 0;
    width: 100%;
    
  }

#Startseite 
{
left: 4px;
width: 40px;
background: url('Beispiel.gif') 0 0;
}

input[type=text] 
{
    transition: width 0.3s ease-in;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

  
input[type=text]:focus 
{
    width: 100%;
    height: 100%;
}